alias wea="clear;curl wttr.in/$LOCATION"
alias wea2="curl -s 'wttr.in/$LOCATION?format=2'"
alias wea3="curl v2d.wttr.in/Orenburg"
alias nv=nvim
alias tx=tmux
alias xi='sudo xbps-install'
alias xr='sudo xbps-remove'
alias xql='sudo xbps-query -s'
alias xqr='sudo xbps-query -Rs'
alias mm='sudo mount -t ntfs -o nls=utf8,umask=0222 /dev/sdb1 ~/Windows/X'
alias mw='sudo mount -t ntfs -o nls=utf8,umask=0222 /dev/sda4 ~/Windows/C'
alias wifi='sudo wpa_supplicant -B -i wlp3s0 -c /etc/wpa_supplicant/wpa_supplicant-wlp3s0.conf'
alias music='ncmpcpp' 
alias am='alsamixer'
alias off='sudo shutdown -P now'
alias reb='sudo reboot now'
alias synctime='sudo ntpdate -u 0.ru.pool.ntp.org'
alias clear='[ $[$RANDOM % 10] = 0 ] && timeout 1 unimatrix -n -s 99 -l orCs || clear'
alias rw='randpywall.sh'
alias mi='make install'
alias smi='sudo make install'
alias mc='make clean'
alias smc='sudo make clean'
alias mci='make clean install'
alias smci='sudo make clean install'
alias mu='make uninstall'
alias smu='sudo make uninstall'

alias src='cd ~/Sources'
alias dev='cd ~/dev'
# alias -s {js,rs,c,h,cpp,cxx,hpp,hxx,json,md,css,scss,sass,sh,vim,rb,py,Makefile,MAKEFILE,makefile,yml.yaml,toml,tml,cs,ts,html}=nvim
