# Overrides
alias cp='cp -i'

# Weather
alias wea='clear;curl wttr.in/$LOCATION'
alias wea2='curl -s "wttr.in/$LOCATION?format=2"'
alias wea3='curl v2d.wttr.in/Orenburg'

# Common aliases
alias nv=nvim
alias music=ncmpcpp 
alias am=alsamixer
alias pm=pamixer

# Xbps
alias xi='sudo xbps-install'
alias xr='sudo xbps-remove'
alias xql='sudo xbps-query -s'
alias xqr='sudo xbps-query -Rs'

# Special comands
alias please='sudo !!'
alias mm='sudo mount -t ntfs -o nls=utf8,umask=0222 /dev/sdb1 ~/Windows/X'
alias mw='sudo mount -t ntfs -o nls=utf8,umask=0222 /dev/sda4 ~/Windows/C'
alias wifi='sudo wpa_supplicant -B -i wlp3s0 -c /etc/wpa_supplicant/wpa_supplicant-wlp3s0.conf'
alias off='sudo shutdown -P now'
alias reb='sudo reboot now'
alias synctime='sudo ntpdate -u 0.ru.pool.ntp.org'
alias clear='[ $[$RANDOM % 10] = 0 ] && timeout 1 unimatrix -n -s 99 -l orCs || clear'
# alias rr='curl -s -L https://raw.githubusercontent.com/keroserene/rickrollrc/master/roll.sh | bash'

# Make
alias mi='make install'
alias smi='sudo make install'
alias mc='make clean'
alias smc='sudo make clean'
alias mci='make clean install'
alias smci='sudo make clean install'
alias mu='make uninstall'
alias smu='sudo make uninstall'

# ls to exa
alias la='exa -al --color=always --group-directories-first'
alias ls='exa -a --color=always --group-directories-first'
alias ll='exa -l --color=always --group-directories-first'
alias lt='exa -aT --color=always --group-directories-first'
alias l.='exa -a | egrep "^\."'

# Dir hopping
alias src='cd ~/Sources'
alias scr='cd ~/Scripts'
alias dev='cd ~/Dev'
alias cfg='cd ~/.config'
# alias -s {js,rs,c,h,cpp,cxx,hpp,hxx,json,md,css,scss,sass,sh,vim,rb,py,Makefile,MAKEFILE,makefile,yml.yaml,toml,tml,cs,ts,html}=nvim

# Archive extracter
ex() {
  if [-f $1 ]; then
    case $1 in
      *.tar.bz2) tar xjf    $1 ;;
      *.tar.gz)  tar xzf    $1 ;;
      *.tar.xz)  tar xf     $1 ;;
      *.tar.zst) unzst      $1 ;;
      *.tar)     tar xf     $1 ;;
      *.bz2)     bunzip2    $1 ;;
      *.rar)     unrar x    $1 ;;
      *.tgz)     tar xzf    $1 ;;
      *.zip)     unzip      $1 ;;
      *.Z)       uncompress $1 ;;
      *.7z)      7z x       $1 ;;
      *)         echo "'$1' cannot be extracted via ex()";;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}
