/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}

listview {
  scrollbar: false;
}

element.selected.normal {
    text-color:       @green;
}
@import "/usr/share/rofi/themes/solarized.rasi"
